<section class="content-grid-section">
  <ul class="grid-content">
    <li></li>
    <li>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/AuRXVMSG3po" frameborder="0" allowfullscreen></iframe>
    </li>
    <li></li>
  </ul>
</section>
