<div class="masthead">

  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">JavaScript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </nav>

  <div class="logo">
    <img src="assets/AA_Times_Logo.png" alt="It's supposed to New BORK Times">
  </div>

  <ul  class="masthead-links">
     <li><time>Tuesday, February 24, 2017</time></li>

     <li><i class="fa fa-newspaper-o"></i><a href="#">Today’s Paper</a></li>

     <li><i class="fa fa-video-camera"></i><a href="#">Video</a></li>

     <li><button type="button" name="temp">77°F</button></li>

     <li><button type="button" name="stock">AAO <strong>100%</strong>+</button></li>
  </ul>

</div>
