<div class="sections-nav">
  <ul>
    <li><a href="#">Corgi</a></li>
    <li><a href="#">Poodle</a></li>
    <li><a href="#">Greyhound</a></li>
    <li><a href="#">Shiba</a></li>
    <li><a href="#">Bernese</a></li>
    <li><a href="#">Havanese</a></li>
    <li><a href="#">All</a></li>
  </ul>
</div>
